<div class="profile__row">
    <p class="profile__name">{{name}}</p>
    <input class="profile__value" name="{{nameValue}}" value="{{value}}" type="{{type}}" id="{{nameValue}}" autocomplete="{{autocomplete}}" required>
</div>
