<div class="input__box">
    <input placeholder="{{text}}" name="{{name}}" type="{{type}}" id="{{name}}" autocomplete="{{autocomplete}}" {{required}}>
    <label for="{{name}}">{{text}}</label>
</div>
