{{#if isShow}}
    {{#if isFile}}
        {{#if isErrorFile}}
            {{> PopupProfile PopupTitle="Ошибка, попробуйте ещё раз" PopupBtnText="Поменять" PopupFormID="formProfileErrorFile" popupRed="red"}}
        {{else}}
            {{> PopupProfile PopupTitle="Файл загружен" PopupBtnText="Поменять" PopupFormID="formProfileFile" nameFile="pic.jpg"}}
        {{/if}}
    {{else}}
        {{> PopupProfile PopupTitle="Загрузите файл" PopupBtnText="Поменять" PopupFormID="formProfile" PopupError=isError}}
    {{/if}}
{{/if}}
<section class="section__profile">
    <section class="section__profile_back">
        {{> ButtonArrow }}
    </section>
    <section class="section__profile__main">
        <div class="profile__container">
            <div class="profile__header">
                <button class="button__avatar">
                    <div class="place__avatar">
                        <p>Поменять<br>аватар</p>
                    </div>
                </button>
                {{#unless change}}
                    <p class="profile__my_name">{{name}}</p>
                {{/unless}}
            </div>
            <div class="profile__body">
                {{{body}}}
                <div class="profile__footer">
                    {{#if change}}
                        {{> Button text="Сохранить"}}
                    {{else}}
                        {{> LinkProfile text="Изменить данные"}}
                        {{> LinkProfile text="Изменить пароль"}}
                        {{> LinkProfile text="Выйти" color="red"}}
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</section>
